.footer {
  display: flex;
  height: 50px;
  padding: 7px 10px 7px 0px;
  padding-right: 30px;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000;
}
.openTabHolder {
  display: flex;
  gap: 7px;
  width: 33.3%;
  align-items: center;
  padding-left: 30px;
}
.openTabHolder #open-in-new-tab {
  align-self: center;
  margin-top: 0.4rem;
}
.openTabHolder.hideOpenTabHolder {
  display: none;
}
.openTabText {
  color: rgba(0, 0, 0, 1);
}
#open-in-new-tab {
  margin-top: -14px;
}
#open-in-new-tab:checked {
  background-color: rgba(255, 255, 255, 1);
}
.copyright {
  color: rgba(163, 150, 150, 1);
  font-size: 10px;
  width: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.emptyDiv {
  display: flex;
  width: 33.3%;
}
